<!DOCTYPE html>
<!-- <div class="container">
  <app-cockpit (serverCreated) = "onServerAdded($event)" (blueprintCreated) = "onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor = "let serverElement of serverElements" [srvElement] = "serverElement"></app-server-element> 
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (gameStart)="onGameStart($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
    <div class="col-xs-12">
      <app-odd *ngFor = "let oddNumber of oddNumbers" [oddNum] = "oddNumber"></app-odd>
    </div>
  </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-even *ngFor = "let evenNumber of evenNumbers" [evenNum] = "evenNumber"></app-even>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
    <div class="col-xs-12">
      <input type="text" #myname />
      <button class="btn btn-primary" (click) = "adminUser()">Submit</button>
      <p>{{adminName}}</p>
    </div>
  </div>
    </div>
  </div>
</div>
